body{
    background-color: #4ECDC4;
    color: #FFFFFF;
}

.segment-add{
    justify-content: center;
}

h1{
    font-family: "Acme", sans-serif;
    font-size: 50px;
    color: #FFFFFF;
    text-align: center;
    margin: 20px;
}

.segment-day-title{
    margin: 20px 0px 15px 0px;
    font-family: "Alegreya Sans", sans-serif;
    font-size: 2em;
}

.segment-activity-unchecked{
    font-family: "Alegreya", serif;
    font-size: 1.5em;
    margin-left: 40px;
    padding-bottom: 10px;
}

.segment-activity-checked{
    font-family: "Alegreya", serif;
    text-decoration: line-through;
    font-size: 1.5em;
    background-color: #56b0b3;
    margin-left: 40px;
    padding-top: 10px;
}